.layout {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
	gap: var(--space-l);

	list-style-type: none;
	padding: 0;
}

.filterForm {
	display: flex;
	gap: var(--space-xs);
	flex-flow: row wrap;
}

.filterFormItem > * {
	display: block;
}

.itemThumbnail {
	aspect-ratio: 800 / 510;
	block-size: auto;
	inline-size: 100%;

	transition: rotate 0.25s;
	will-change: rotate;
}
.itemLink:hover .itemThumbnail {
	rotate: 5deg;
}

.itemLink {
	display: block;
	position: relative;
}

.itemLink::before {
	display: block;
	content: '';
	block-size: 100%;
	inline-size: 100%;
	background: radial-gradient(closest-side, var(--casette-color, black), transparent);

	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;

	filter: blur(1em);
	opacity: 0;
	scale: 0.5;

	transition:
		opacity 0.25s,
		scale 0.25s;
	will-change: opacity, scale;
}

.itemLink:hover::before {
	scale: 1.5;
	opacity: 0.5;
}
